

@media print {
  body {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
  }

  .text_3_contet {
    p.text_3 {
      position: relative;
      top: 10px;
    }
  }


  .print_content {
    width: 700px !important;
    height: 1300px !important;
    transform: rotate(90deg);
    position: absolute;
    top: -300px;
    right: 300px;
    .antecedentes {
      font-weight: bold;
    }
    .body {
      height: 840px !important;
      .firma {


        top: 980px !important;
      }
    }
  }

  #cenasa_print {
    .cenasa_table {
      background: #ffffff;
    }
  }
}



.print_content {
  width: 528px;
  height: 816px;
  .header, .header_historial {
    padding: 20px 15px 0px 15px;
    text-align: center;
    border: 1px solid #002080;
    border-radius: 15px;
    color: #002080;
    display: flex;
height: 200px;
    .img {
      padding-right: 30px;
      .customer_img {
        margin-top: 10px;
        width: 80px;
      }
    }
    .text {
      h4 {
        font-weight:5px;
        margin: 0;
            font-size: 20px;
        strong {
          font-style: oblique;
          letter-spacing: 2px;
        }
      }
    }
  }
  .body {
    padding: 20px 15px 0px 15px;
    border: 1px solid #002080;
    border-radius: 15px;
    margin-top: 5px;
    height: 616px;
    p {
      margin: 0;
    }
    p.black_color {
      color: #000000;
      font-weight: 300px;
    }

    .firma {
      position: absolute;
      top: 780px;
    }


        .examen {
          color:  #008080;
        }

        .line {
          text-decoration: underline;
        }

        .italic {
          font-style: italic;
        }

        #loro {
          strong {
            color: #4d0000;
            font-style: italic;
            text-decoration: underline;

          }
        }

        .unificada {
          strong {
            font-weight: italic;
            color: #4d0000;
            text-decoration: underline;

          }
        }

    #familiares {
      strong {
        font-weight: bold;
      }
    }
  }
}


.historial_content {
  padding: 0 !important;
  background: #ffff;

  .modal-dialog {
    min-width: 100%;
    height: 1100px !important;
    margin: 0;
    .modal-content {
      position: absolute;
      min-height: 100%;
    }
  }

    .button_container_historial {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 25px;
      padding-bottom: 20px;
      button.save_historial {
        width: 202px;
          height: 49px;
          opacity: 0.6;
          border-radius: 8px;
          font-family: Raleway;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #6e6d8c;
        background: none;
        border: solid 2px #bbbade;
        margin-right: 26px;
      }
      button.print_historial {
        color: #ffffff;
        width: 202px;
        height: 49px;
        border-radius: 8px;
        box-shadow: 0 19px 28px 0 rgba(200, 0, 255, 0.19);
        background-image: linear-gradient(288deg, #7f00ff, #e100ff);
        img {
          margin-right: 17px;
        }
      }
    }


  aside {
    float: left;
  }
  .content_clinic {
    display: flex;
    width: 84.5%;
    @media (max-width: 1400px) {
      width: 100%;
    }
    height: 100%;
    position: absolute;
    right: 0;

    .section_1,
    .section_2 {
      width: 50%;
      height: 100%;
    }
    .section_1 {
      .customer_data {
        padding: 50px 80px 0px 80px;
        height: 100%;
        overflow-x: scroll;
        box-shadow: 0 12px 74px 0 rgba(172, 214, 203, 0.29);
        .display_content {
          display: flex;
          justify-content: space-between;
          div {
            width: 47%;
            :first-child {

            }
          }
        }
        .box_content {
          padding-bottom: 22px;
          P {
            opacity: 0.7;
            font-family: Raleway;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
          }
          textarea {
            max-height: 81px;
            min-height: 81px;

          }
          input, textarea {
            width: 100%;
            border: none;
            border-bottom: solid 1px #bbbade;
            background: none;
            outline: none;
            text-decoration: none;
            box-shadow: none;
            &:active,
            &:focus,
            &:hover,
            &:visited {
              background: none;
              outline: none;
              text-decoration: none;
              box-shadow: none;
              border: none;
              border-bottom: solid 1px #bbbade;
            }
          }

          h1,h5, h6 {
            border-bottom: solid 1px #bbbade;
          }
          h6 {
            font-size: 16px;
            min-height: 25px;
          }


        }
      }
    }
    .section_2 {
      display: flex;
      justify-content: center;
      background-color: #f4f7f6;
      padding-top: 30px;
      .input_content_authnum {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 30px;
        input, span {
          background: none;
          width: 137px;
          height: 49px;
          opacity: 0.68;
          border-radius: 8px;
          border: solid 1px #bbbade;
          display: flex;
          justify-content: center;
          align-items: center;
          &:active,
          &:focus,
          &:hover,
          &:visited {
            background: none;
            box-shadow: none;
            outline: none;
            text-decoration: none;
            color: #000;
          }
        }
        p {
          margin-right: 15px;
          margin-bottom: 0;
          margin-top: 0;
          opacity: 0.7;
        font-family: Raleway;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        }
      }
    }
  }

}

.show_section_histories {
  padding-top: 34px;
  padding-right: 50px;
  padding-left: 58px;

          button.reclam_button {
            background: none;
            outline: none;
            text-decoration: none;
            box-shadow: none;
            border: none;
            margin-right: 45px;
            cursor: pointer;

            &:active,
            &:focus,
            &:hover,
            &:visited {
              border: none;
              background: none;
              outline: none;
              text-decoration: none;
              box-shadow: none;
            }
          }

          p.r {
            width: 73px;
            height: 66px;
            border-radius: 8px;
            border: solid 2px #bbbade;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Raleway;
            font-size: 35px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #bbbade;
          }

          p.date_reclam {
            margin-top: 0;
            font-family: Raleway;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #bbbade;
            margin-bottom: 6px;
          }

          p.ensure {
            font-family: Raleway;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #bbbade;
            margin-top: 0;
          }
}



$backcolor: #cdcbbe;
$border: 1px solid #000;
$smallfont: 10px;

.backcolor {
  background: none;
  padding-top: 12px;
    @media (max-width: 1640px){
      width: 100%;
  }
}
.cenasa_table {
  padding-bottom: 30px;

  p {
    font-family: Arial;
  }

  .col-lg-3,
  .col-md-9,
  .container-fluid,
  .row {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
  }

  .header_content_1 {
    padding-left: 15px;
    .img {
      float: left;
      padding-right: 30px;

      img {
        height: 88px;
        width: 80px;
      }
    }

    .description {
      height: 88px !important;

      p {
        margin: 0 !important;
        height: 28px;
      }

      p.text_1 {


      }

      P.text_2 {
        border-top: 1px solid #000;
        display: inline;
        padding-top: 7px;
      }

      .text_3_contet {
        display: flex;
        align-items: flex-end;
        height: 36px;

        p.text_3 {
          font-size: 13px;
          height: auto !important;
          position: relative;
          bottom: -2px;
        }
      }
    }
  }


  .prestador {
    padding-top: 10px;
    padding-left: 15px;

    p {
      background: $backcolor;
      padding: 5px 3px 5px 15px;
      width: 99%;
      margin: 0;
      font-weight: bold;
      font-size: 14px;
    }
  }


  .date {
    padding-right: 15px;
  }

  .date_day {
    width: 50px;
  }

  .pss_code {
    width: 140px;
  }
  .code_input {
    padding-right: 15px;
    padding-top: 0 !important;
  }


  .padding_right_corretion {
    padding-right: 0 !important;
  }

  .nombreps {
    padding-top: 12px;
    display: flex;
    padding-right: 12px;

    p {
      margin: 0;
      font-size: 14px;
    }

    .title {
      float: left;
      position: relative;
      top: 8px;
      padding-right: 3px;
      font-size: 15px;

    }

    p.number {
      padding-bottom: 5px;
      border-bottom: $border;
      width: 100%;
      text-align: left;
      padding-left: 10px;
      display: inline-block;
      font-family: Ayuthaya;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #1a1919;
    }

    .name {
      width: 70px;
    }

    .sector {
      width: 52px;
    }

    .mini_text {
      width: 45px;
    }

    .pad_correcttion {
      padding-right: 40px;
    }

    .title_1 {
      width: 158px;
    }

    .title_2 {
      width: 330px;
      padding-right: 0px !important;
    }

    .Especialidad {
      width: 100px;
    }

    .small_title {
      width: 60px;
    }
  }

  .section_3 {
    padding-top: 10px;
    p {
      margin-top: 0;
      background: $backcolor;
      padding: 5px 0 5px 15px;
      font-weight: bold;
      font-size: 14px;
    }
  }

  .row_3 {
    padding-right: 15px;
    .padding_top_correction {
      padding-top: 0 !important;
    }

    .correo {
      width: 220px;
    }


    .col-md-4,
    .col-md-1,
    .col-md-2  {
      margin: 0 0 0 0 !important;
      padding: 0 0 0 0 !important;

      .doctor {
        padding-left: 15px;
      }
    }
  }

  .row_4 {
    padding-right: 15px;

    .correo {
      width: 150px;
    }

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4 {
      margin: 0 0 0 0 !important;
      padding: 0 0 0 0 !important;

      .doctor {
        padding-left: 15px;
      }
    }
  }

  .section_4 {
    padding-top: 15px;

    p {
      margin-top: 0;
      background: $backcolor;
      padding: 5px 0 5px 15px;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }




  .row_5 {
    padding-right: 15px;
    .padding_top_correction {
      padding-top: 0 !important;
      padding-right: 0 !important;
    }
    .service {
      width: 130px;
      // margin-left: 15px;
    }

    .col-md-6 {
      margin: 0 0 0 0 !important;
      padding: 0 0 0 0 !important;
    }

   .date_servicio {
      width: 176px;
    }
  }

  .row_6 {
    padding-right: 15px;

    .diagnostico {
      width: 95px;
      margin-left: 15px;
    }

    .col-md-12 {
      margin: 0 0 0 0 !important;
      padding: 0 0 0 0 !important;
    }
  }

  .row_7 {
    table {
      width: 100%;
      margin-top: 20px;
    }
    tbody {
      td {
        font-family: ayuthaya;
      }
    }

    td,
    th {
      vertical-align: middle;
      border: 1px solid #000;
      text-align: left;
    }

    .detalles {
      width: 50%;
    }

    .copago,
    .procede,
    .valor_recla,
    .valor_total {
      width: 12.5%;
      text-align: center;
    }
  }

  .row_8 {
    .space_left {
      padding-left: 15px;
    }
    .space_right {
      padding-right: 15px;
    }
    .col-md-2,
    .col-md-5 {
      margin: 0 0 0 0 !important;
      padding: 0 0 0 0 !important;
    }

    p {
      margin: 0 0 0 0 !important;
    }

    .firma_content {
      padding-top: 60px;
    }

    p.line {
      padding-bottom: 5px;
      border-bottom: $border;
      width: 100%;
      text-align: center;
    }

    p.firma_title {
      text-align: center;
    }
  }
}

// end Cenasa table



.edit_modal {
  .modal-dialog {
    min-width: 70%;
     @media (max-width: 1330px) {
       min-width: 85%;
     }
     .modal-body {
       box-shadow:0 0 0 9999px rgba(0,0,0,.6);

     }
    .container_edit {
      padding: 50px 0px;
      span {

      }
      input {

        outline: none;
        background: none;
        box-shadow: none;
        border: none;
        height: 24px;
        width: 95%;
        &:hover,
        &:active,
        &:focus,
        &:visited {
          outline: none;
          background: none;
          box-shadow: none;
          border: none;
          height: 24px;
        }
      }

      .title {
        h1 {
          text-align: center;
          padding-bottom: 30px;
        }
      }
      .container_row {
        background: #fafafa;
        margin: 0;
        padding-top: 0px !important;
        padding: 30px 60px;
        width: 100%;
        overflow-y: inherit;
overflow-x: auto;
max-height: 300px;
        .procedimiento {
          a {
            outline: none;
            background: none;
            box-shadow: none;
            border: none;
            text-decoration: none;
            color: none;
            &:hover,
            &:active,
            &:focus,
            &:visited {
              color: none;
              outline: none;
              background: none;
              box-shadow: none;
              border: none;
              text-decoration: none;
            }
          }
          .image_delete {
            padding-right: 20px;
          }
          .column_title {
            // padding-left: 45px;
          }

        }
        .colum_content {
          padding-top: 30px;
          .box_padding {
            width: 10px;
            border-right: 1px solid grey;
          }
          .box_padding_left {
            width: 10px;
            border-left: 1px solid grey;
          }

          .display_content {
            display: flex;
          }

          .data {
          border-bottom: 1px solid grey;
          width: 100%;
          span {
            display: block;
          }
        }
        }
      }

    }
    .edit_buttons {
      display: flex;
      justify-content: center;
      padding-bottom: 50px;

        button {
          padding: 10px 50px;
        }

        #save_button {
          color: #fff;
          margin-right: 35px;
          background:#c82333;
        }
        #cancel_button {
          border: 1px solid grey;
          color: #6e6d8c;
          background: none;

        }
    }
  }
}
// End edit modal










.new_modal {
  .modal-dialog {
    min-width: 70%;

     @media (max-width: 1330px) {
       min-width: 85%;
     }
     .modal-body {
       box-shadow:0 0 0 9999px rgba(0,0,0,.6);

     }
    .container_edit {
      padding: 50px 0px;
      input {
        background: none;
        box-shadow: none;
        outline: none;
        border: none;

        &:hover,
        &:active,
        &:visited,
        &:focus {
          background: none;
          box-shadow: none;
          outline: none;
          border: none;
        }
      }
      .title {
        h1 {
          text-align: center;
          padding-bottom: 30px;
        }
      }
      .container_row {
        background: #fafafa;
          margin: 0;
          padding-top: 0px !important;
          padding: 30px 60px;
          width: 100%;
          overflow-y: inherit;
overflow-x: auto;
max-height: 300px;
        .procedimiento {
          a {
            outline: none;
            background: none;
            box-shadow: none;
            border: none;
            text-decoration: none;
            color: none;
            &:hover,
            &:active,
            &:focus,
            &:visited {
              color: none;
              outline: none;
              background: none;
              box-shadow: none;
              border: none;
              text-decoration: none;
            }
          }
          .image_delete {
            padding-right: 20px;

          }
          .column_title {
            // padding-left: 45px;
          }
        }
        .colum_content {
          padding-top: 30px;
          .box_padding {
            width: 10px;
            border-right: 1px solid grey;
          }
          .box_padding_left {
            width: 10px;

            border-left: 1px solid grey;

          }

          .display_content {
            display: flex;
          }

          .data {
          border-bottom: 1px solid grey;
          width: 100%;
          span {
            display: block;
          }
        }
        }
      }
    }
    .edit_buttons {
      display: flex;
      justify-content: center;
      padding-bottom: 50px;
      #save_button,
      #cancel_button {
        padding: 10px 50px;
      }

      #save_button {
        color: #fff;
        margin-right: 35px;
        background:#c82333;
      }
      #cancel_button {
        border: 1px solid grey;
        color: #6e6d8c;
        background: none;

      }

    }
  }
}
// End new modal
