// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  src: url("font/ayuthaya.ttf");
  font-family: Ayuthaya;
}

#notice {
  margin: 0;
}

.hide_navbar {
  display: none;
  padding: 10px 0;
  @media (max-width: 1400px) {
    display: block;
  }

  .navbar-nav {
    a {
      background: none;
      box-shadow: none;
      border: none;
      outline: none;
      text-decoration: none;
      cursor: pointer;

      &:active,
      &:focus,
      &:hover,
      &:visited {
        background: none;
        box-shadow: none;
        border: none;
        outline: none;
        text-decoration: none;
      }
    }

    .inicio {
      display: flex;
      align-items: baseline;
      margin-right: 50px;

      img {
        width: 22px;
        height: 21px;
        position: relative;
        top: 1.5px;
      }
    }

    .clientes {
      display: flex;
      align-items: baseline;

      img {
        width: 23px;
        height: 20px;
        position: relative;
        top: 1.5px;
      }
    }
  }

  .navbar {
    padding: 0;
  }

  .collapse {
    display: flex;
    justify-content: flex-end;

    .nav_logo {
      width: 100px;
    }
  }
}

.modal-body {
  padding: 0 !important;
}

input {
  box-shadow: none;
  outline: none;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    box-shadow: none;
    border: none;
    outline: none;
    text-decoration: none;
  }
}

aside {
  flex-direction: column;
  float: left;
  // border: 1px solid red;
  padding-top: 27px;
  width: 15.5%;
  height: 100% !important;
  background: #fff;
  @media (max-width: 1400px) {
    display: none !important;
  }

  .img_hospital {
    display: flex;
    justify-content: center;
    padding-bottom: 23px;

    img {
      width: 130px;
      height: 130px;
    }
  }

  ul {
    padding-left: 0;

    li {
      list-style: none;
      text-align: left;
      width: 100%;
      height: 74px;
      display: flex;
      align-items: center;
      padding-left: 35px;
      @media (max-width: 1475px) {
        padding-left: 20px;
      }

      &:hover {
        background-color: rgba(132, 187, 199, 0.08);

        a {
          color: #17cb9a;
          text-decoration: none;
        }
      }

      img {
        float: left;
        margin-right: 28px;
      }

      a {
        font-family: Raleway;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        text-decoration: none;
        background: none;

        &:active,
        &:focus,
        &:hover,
        &:visited {
          box-shadow: none;
          border: none;
          outline: none;
          text-decoration: none;
          background: none;
          color: #000000;
        }
      }
    }
  }
}

.hide_content {
  visibility: hidden;
}

.link_style {
  background: none;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  border: none;

  &:focus,
  &:hover,
  &:hover,
  &:visited {
    background: none;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    border: none;
  }
}

.show_general_info {
  .logo_show {
    img.humano_logo {
      width: 119px;
    }

    a {
      font-family: Raleway;
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #50aa91;
      background: none;
      text-decoration: none;
      outline: none;
      box-shadow: none;
      border: none;
      position: relative;
      padding-left: 15px;
      top: 5px;

      &:focus,
      &:hover,
      &:hover,
      &:visited {
        background: none;
        text-decoration: none;
        outline: none;
        box-shadow: none;
        border: none;
        color: #50aa91;
      }

      img {
        width: 10px;
        margin-left: 5px;
      }
    }
  }
}
/// End show_general_info

.cancel_button {
  opacity: inherit !important;
  padding: inherit !important;
}

.reclamation_section {
  .modal-body {
    overflow: scroll;
  }

  .modal {
    margin: 0 !important;
    padding: 0 !important;
  }

  .modal-full {
    min-width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

  .modal.show {
    padding: 0;
    margin: 0 !important;
    padding: 0 !important;
  }

  .new_reclamation {
    .reclamation_header {
      padding-top: 36px;
      padding-left: 60px;
      @media (max-width: 1640px) {
        padding-top: 60px;
        padding-left: 0;

        .container {
          padding: 0!important !important;
        }
      }

      .logo {
        float: left;
        height: 49px;
        display: flex;
        align-items: center;

        .humano_logo {
          width: 119px;
          height: 20.2px;
        }
      }

      .therapies_form {
        p {
          float: left;
        }

        .authNum_container {
          float: left;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            margin: 0;
            opacity: 0.7;
            font-family: Raleway;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
            padding-right: 17px;
          }

          .authNum {
            width: 92px;
            height: 49px;
            opacity: 0.68;
            border-radius: 8px;
            border: solid 1px #bbbade;
          }
        }

        .quantity_therapies {
          input {
            font-family: Raleway;
            font-size: 35px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #17cb9a;
          }
        }

        .therapies_input {
          height: 49px;
          display: flex;
          padding-left: 25px;

          p {
            margin: 0;
            align-self: center;
            opacity: 0.7;
            font-family: Raleway;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
          }

          input {
            border: none;
            width: 48px;
            border-bottom: solid 2px #bbbade;
            text-align: center;
            margin-left: 19px;
          }
        }
      }
    }

    .body_reclamation {
      padding-bottom: 50px;

      .ceationDate {
        position: relative;
        bottom: 8px;

        p {
          margin: 0;
          width: 50px;
        }

        div {
          padding-right: 30px;
        }

        span {
          display: block;
          width: 178px;
        }

        input {
          box-shadow: none;
          outline: none;
          text-decoration: none;
          border: none;

          &:active,
          &:focus,
          &:hover,
          &:visited {
            box-shadow: none;
            border: none;
            outline: none;
            text-decoration: none;
          }
        }
      }

      .first_row,
      .second_row {
        display: flex;

        p {
          margin: 0;
        }

        div {
          padding-right: 30px;
        }

        span {
          display: block;
          width: 178px;
        }

        input {
          box-shadow: none;
          outline: none;
          text-decoration: none;
          border: none;

          &:active,
          &:focus,
          &:hover,
          &:visited {
            box-shadow: none;
            border: none;
            outline: none;
            text-decoration: none;
          }
        }
      }

      .customer_inputs {
        padding-left: 60px;
        @media (max-width: 1640px) {
          padding-left: 0;
          padding-top: 20px;

          .container {
            padding: 0 !important;
          }
        }

        .name {
          padding-top: 30px;
          padding-bottom: 34px;

          p {
            margin: 0;
          }

          span {
            font-family: Raleway;
            font-size: 35px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #1e2469;
            display: block;
            width: 400px;
          }
        }

        span {
          border-bottom: solid 1px #bbbade;
          padding-bottom: 9px;
        }

        .first_row {
          padding-bottom: 34px;
        }

        .service_container {
          position: relative;

          h6 {
            width: 149px;
            height: 14px;
            opacity: 0.7;
            font-family: Raleway;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
          }

          h4 {
            float: left;
            font-family: OpenSans;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
            width: 150px;
          }

          h5 {
            display: flex;
            font-family: Raleway;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #50aa91;

            .edit_link {
              margin-top: 5px;
            }

            i {
              font-size: 16px;
              margin-top: 4px;
            }
          }

          h3 {
            float: left;
            position: relative;
            bottom: 12px;
            padding-right: 12px;
            color: #50aa91;
          }

          .services_links {
            font-family: Raleway;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #50aa91;
          }

          .edit_content {
            overflow: scroll;
            width: 220px;
            height: 82px;
            overflow-x: visible;
            margin-bottom: 10px;

            i {}
          }

          .add_service {
            width: 178px;
            border-bottom: solid 1px #bbbade;
            display: block;
            padding-bottom: 9px;
          }
        }
      }
    }

    .bottom_reclamation {
      .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .content {
        background-color: #f4f7f6;
        padding-top: 45px;
        margin: 0 !important;

        .button_column {
          @media (max-width: 1640px) {
            max-width: 100%;
            display: flex;
            flex: none;
            justify-content: center;
          }
        }

        .col-lg-10 {
          @media (max-width: 1640px) {
            max-width: 100%;
            display: flex;
            flex: none;
            justify-content: center;
          }
        }

        .row {
          padding: 0 60px;
        }

        .buttons_container {
          text-align: center;

          .imprimir {
            border: none;
            background-image: linear-gradient(288deg, #7f00ff, #e100ff);
          }

          button.cancelar,
          button.save {
            background: transparent;
            text-decoration: none;
            box-shadow: none;
            outline: none;
            color: #6c757d;

            &:active,
            &:focus,
            &:hover,
            &:visited {
              box-shadow: none;
              outline: none;
              text-decoration: none;
              background: transparent;
              color: #6c757d;
            }
          }

          button {
            width: 202px;
            height: 49px;
            margin-bottom: 23px;
            @media (max-width: 1640px) {
              margin-right: 30px;
            }
          }
        }
      }
    }
  }
  // end New reclamation
}
// end relcamation section

.print_Section {
  padding: 0 10px;
}

.show_general_info {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  @media (max-width: 1640px) {
    top: unset;
  }

  .view_information_section {
    background-color: #f4f7f6;
    height: 100%;
    width: 27%;
    padding: 36px 100px;
    @media (max-width: 1640px) {
      width: auto;
    }

    button.reload_page {
      box-shadow: none;
      outline: none;
      text-decoration: none;
      background: transparent;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #6e6d8c;
      width: 180px;
      height: 35px;
      border-radius: 5px;

      img {
        width: 19px;
        margin-right: 10px;
      }

      &:active,
      &:focus,
      &:hover,
      &:visited {
        box-shadow: none;
        outline: none;
        text-decoration: none;
        background: transparent;
      }
    }

    .customer_info {
      overflow-y: hidden;
      height: 220px;
      transition: 2s;
      width: 270px;
      @media (max-width: 1640px) {}

      &:hover {
        height: 560px;
      }
    }

    a.view_info {
      font-family: Raleway;
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #50aa91;
      box-shadow: none;
      outline: none;
      text-decoration: none;
      background: transparent;
      border: none;
      position: relative;
      top: 25px;

      &:active,
      &:focus,
      &:hover,
      &:visited {
        box-shadow: none;
        outline: none;
        text-decoration: none;
        background: transparent;
        border: none;
      }

      img {
        width: 10px;
        margin-left: 13px;
      }
    }

    .logo_show {
      padding-bottom: 84px;
    }

    .adress {
      strong {
        float: left;
      }
    }

    .space {
      padding-top: 20px;

      strong {
        font-family: Raleway;
        margin-right: 10px;
      }
    }

    .display_box {
      display: flex;
      align-items: center;

      input {
        background: none;
        width: 100%;
      }

      img {
        margin-right: 24px;
      }

      p {
        margin: 0 0 3px;
      }
    }

    h1.name {
      font-family: Raleway;
      font-size: 35px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #1e2469;
      display: inline;

      input {
        width: 100%;
        background: transparent;
      }
    }

    .view_more_buttons {
      padding-top: 350px;

      button.historial_clinic {
        background-image: linear-gradient(285deg, #7f00ff, #e100ff);
        color: #fff;
        border: none;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 248px;
        height: 49px;

        &:active,
        &:focus,
        &:hover,
        &:visited {
          box-shadow: none;
          outline: none;
          text-decoration: none;
          color: #fff;
        }

        img {
          width: 19px;
          margin-right: 21px;
        }
      }

      .delete_customer {
        padding-top: 38px;

        a {
          font-size: 16px;
          display: flex;
          box-shadow: none;
          outline: none;
          text-decoration: none;
          color: #000;
          background: none;

          &:active,
          &:focus,
          &:hover,
          &:visited {
            background: none;
            box-shadow: none;
            outline: none;
            text-decoration: none;
            color: #000;
          }

          img {
            margin-right: 15px;
          }
        }
      }
    }
  }

  .left_section {
    width: 57.5%;
    @media (max-width: 1640px) {
      width: 100%;
    }

    .therapies_section {
      .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px #979797;
        padding: 28px 90px 28px 58px !important;

        p {
          font-family: Raleway;
          font-size: 19px;
          font-weight: 800;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
        }

        p.text {
          color: #3f48ad;
        }

        p.number {
          color: #e102ff;
        }
      }

      .historial_therapies_container {
        box-shadow: 0 26px 18px 0 rgba(0, 0, 0, 0.03);
        padding-bottom: 35px;

        .content_historial {
          width: 100%;
          height: 300px;
          overflow-y: scroll;
          padding-left: 58px;

          .number_container {
            margin-right: 45px;
            padding-top: 30px;

            a {
              width: 73px;
              height: 66px;
              opacity: 0.68;
              border-radius: 8px;
              border: solid 2px #bbbade;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              box-shadow: none;

              img {
                background: #e2e2ef;
              }
            }
          }

          p {
            opacity: 0.48;
            font-family: Raleway;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
            position: relative;
            left: 5px;
            top: 8px;
          }
        }

        .buttons_container_index {
          padding-left: 58px;
          display: flex;
          align-items: center;
          padding-top: 20px;

          button.reclamation_btn {
            width: 277px;
            height: 49px;
            font-family: Raleway;
            font-size: 16px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #6e6d8c;
            display: flex;
            justify-content: center;
            align-items: center;
            float: left;

            img {
              width: 22px;
              height: 22px;
              margin-right: 17px;
            }

            &:active,
            &:focus,
            &:hover,
            &:visited {
              box-shadow: none;
              outline: none;
              text-decoration: none;
              background: transparent;
            }
          }

          a {
            font-family: Raleway;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #50aa91;
            box-shadow: none;
            outline: none;
            text-decoration: none;
            background: none;
            margin-left: 25px;

            img {
              width: 10px;
              margin-left: 10px;
            }

            &:active,
            &:focus,
            &:hover,
            &:visited {
              box-shadow: none;
              outline: none;
              text-decoration: none;
              background: none;
            }
          }
        }
      }
    }

    .index_reclamation_section {
      .header {
        padding: 21px 90px 21px 58px;
        border-bottom: solid 1px #bbbade;
        clear: both;
        height: 65px;

        p.title {
          font-size: 19px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #3f48ad;
          float: left;
        }
      }

      .historial_links {
        float: right;

        a {
          padding-bottom: 10px;
          border-bottom: solid 3px transparent;
          position: relative;
          top: 11px;
          transition-duration: 1s;

          &:hover {
            border-bottom: solid 3px #17cb9a;
            background: none;
            outline: none;
            text-decoration: none;
            box-shadow: none;
          }

          &:active,
          &:focus,
          &:visited {
            background: none;
            outline: none;
            text-decoration: none;
            box-shadow: none;
          }
        }

        a.historial_link {
          margin-right: 29px;
        }
      }

      .reclam_historial_content {
        padding-top: 34px;
        padding-right: 90px;
        padding-left: 58px;

        button.reclam_button {
          background: none;
          outline: none;
          text-decoration: none;
          box-shadow: none;
          border: none;
          margin-right: 45px;
          cursor: pointer;

          &:active,
          &:focus,
          &:hover,
          &:visited {
            border: none;
            background: none;
            outline: none;
            text-decoration: none;
            box-shadow: none;
          }
        }

        p.r {
          width: 73px;
          height: 66px;
          border-radius: 8px;
          border: solid 2px #bbbade;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Raleway;
          font-size: 35px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #bbbade;
        }

        p.date_reclam {
          margin-top: 0;
          font-family: Raleway;
          font-size: 12px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #bbbade;
          margin-bottom: 6px;
        }

        p.ensure {
          font-family: Raleway;
          font-size: 12px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #bbbade;
          margin-top: 0;
        }
      }
    }
  }
}

#nilu {
  color: red;
}

.reclam_historial_content {
  .diagnostic_input_histori {
    input {
      color: #000;
      border-bottom: solid 1px #bbbade!important;
      padding-bottom: 9px;

      &::placeholder {
        color: #000;
      }
    }
  }

  .modal {
    padding-right: 0 !important;
  }

  .modal-dialog {
    min-width: 100%;
    height: 100%;
    margin: 0 !important;

    p.auth_reclam {
      width: 92px;
      height: 49px;
      opacity: 0.68;
      border-radius: 8px;
      border: solid 1px #bbbade;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p.number_reclam {
      margin-left: 13px;
      font-family: Raleway;
      font-size: 35px !important;
      font-weight: bold !important;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #17cb9a !important;
      margin-left: 10px !important;
      border-bottom: solid 1px #bbbade;
      padding-bottom: 10px;
    }
  }
}
/// End reclam_historial_content

.index_customer_section {
  .right_side {
    width: 84.5%;
    float: right;
    background: #edf3f1;
    height: 100%;
    position: absolute;
    right: 0;
    @media (max-width: 1400px) {
      width: 100%;
      float: none;
    }

    .new_buttons {
      background: #f7f7fb;
      width: 100%;
      padding: 49px 0 60px;

      h2 {
        font-family: Raleway;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3f48ad;
        margin-bottom: 30px;
      }

      .humano {
        background-color: #02bbec;
      }

      .cenasa {
        background-color: #a9cf45;
      }

      .noSeguro {
        border: solid 2px #979797;
        outline: none;
        text-decoration: none;
        box-shadow: none;
        background: none;

        &:active,
        &:focus,
        &:hover,
        &:visited {
          outline: none;
          text-decoration: none;
          box-shadow: none;
          background: none;
        }
      }

      a {
        height: 49px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        // margin-right: 33px;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        box-shadow: none;
        text-transform: uppercase;

        &:active,
        &:focus,
        &:hover,
        &:visited {
          outline: none;
          text-decoration: none;
          box-shadow: none;
        }
      }
    }

    .customer_info_container {
      background: #fff;
      width: 100%;
      border-radius: 8px;
      margin-top: 48px;
      // margin-left: 80px;
      height: 570px;
      // float: left;
      .header {
        .header_content {
          display: flex;
          justify-content: space-between;
        }
        padding: 28px 15px 19px 26px;
        border-bottom: solid 1px #979797;

        h2 {
          font-family: Raleway;
          font-size: 19px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #3f48ad;
        }

        .search_section {
          .submit_image {
            width: 19px;
            margin-right: 14px;
          }

          input {
            width: 110px;
            border: none;
            font-family: Raleway;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
          }
        }
      }
    }

    .borrador_container {
      height: 100%;
      width: 100%;
      // float: right;
      // margin-right: 100px;
      padding-top: 48px;
      border-radius: 8px;

      .borrador_content {
        width: 100%;
        height: 47%;
        background: #fff;
        border-radius: 8px;

        .header {
          padding: 28px 0 19px 32px;
          border-bottom: solid 1px #979797;

          h2 {
            font-family: Raleway;
            font-size: 19px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #3f48ad;
          }
        }
      }

      .estadisticas {
        width: 100%;
        height: 47%;
        background: #fff;
        position: relative;
        bottom: 0;
        margin-top: 6%;
        border-radius: 8px;

        .header {
          padding: 28px 0 19px 32px;
          border-bottom: solid 1px #979797;
          display: flex;
          justify-content: space-between;

          h2 {
            font-family: Raleway;
            font-size: 19px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #3f48ad;
          }

          ul {
            li {
              .active {
                color: #14b7d6 !important;
                border-bottom: 1px solid #14b7d6 !important;
              }
              margin-right: 20px;

              a {
                width: 22px;
                height: 19px;
                font-family: Raleway;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #bbbade;
                border-bottom: 1px solid transparent;
                padding-bottom: 5px;
                background: none;
                border: none;
                outline: none;
                text-decoration: none;

                &:active,
                &:focus,
                &:hover,
                &:visited {
                  background: none;
                  border: none;
                  outline: none;
                  text-decoration: none;
                }
              }
            }
          }
        }

        .tab-content {
          .content {
            img {
              width: 89px;
              height: 24px;
              margin-bottom: 20px;
              margin-top: 46px;
            }
            display: flex;
            justify-content: space-between;
            padding: 0 20px 0 32px;

            h5 {
              font-family: Raleway;
              font-size: 16px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #bbbade;
              text-align: center;
            }

            p {
              font-size: 39px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #63b136;
              text-align: center;
            }
          }
        }
      }
    }
  }

  a.show_customer {
    background: none;
    outline: none;
    text-decoration: none;
    box-shadow: none;

    &:active,
    &:focus,
    &:hover,
    &:visited {
      outline: none;
      text-decoration: none;
      box-shadow: none;
      background: none;
    }
  }

  .customer {
    padding: 22px 32px;

    .sextion_1 {
      display: flex;
      justify-content: space-between;

      .customer_info {
        display: flex;
      }

      .img {
        .user_image {
          width: inherit;
        }

        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          margin-right: 26px;
        }
      }

      p {
        margin: 0;
      }

      p.name {
        font-family: Raleway;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3f48ad;
      }

      p.insurance {
        opacity: 0.59;
        font-family: Raleway;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
      }

      .link_customer {
        a {
          outline: none;
          text-decoration: none;
          box-shadow: none;
          background: none;
          margin-left: 16px;

          &:active,
          &:focus,
          &:hover,
          &:visited {
            outline: none;
            text-decoration: none;
            box-shadow: none;
            background: none;
          }
        }
      }
    }
  }

  #new_customer_Naseguro,
  #new_customer_cenasa,
  #new_customer_humano {
    .modal-dialog {
      min-width: 80%;
      background: transparent;
      @media (max-width: 1520px) {
        min-width: 99%;
      }
    }

    .modal {
      width: 50%;
    }

    .modal-content {
      background: transparent;
      border: none;
    }

    .close_icon {
      position: absolute;
      right: -25px;
      top: -30px;
    }
  }

  .modal_new_customer {
    background-color: #f7f7fb;
    padding: 49px 200px;
    border-radius: 8px;

    h5.modal-title {
      padding-bottom: 58px;
      font-family: Raleway;
      font-size: 35px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.66;
      letter-spacing: normal;
      text-align: center;
      color: #1e2469;
    }
  }
}
//// nend index_customer_section
.humano_form_container {
  .buttons {
    padding-top: 88px;
    display: flex;
    justify-content: center;

    .save_customer {
      width: 202px;
      height: 49px;
      border-radius: 8px;
      box-shadow: 0 19px 28px 0 rgba(200, 0, 255, 0.19);
      background-image: linear-gradient(288deg, #7f00ff, #e100ff);
      color: #fff;
      margin-right: 28px;
      border: none;

      &:active,
      &:focus,
      &:hover,
      &:visited {
        border: none;
        outline: none;
        text-decoration: none;
        border-radius: 8px;
        box-shadow: 0 19px 28px 0 rgba(200, 0, 255, 0.19);
        background-image: linear-gradient(288deg, #7f00ff, #e100ff);
      }
    }

    button.close_new_modal {
      width: 202px;
      height: 49px;
      opacity: 0.6;
      border-radius: 8px;
      border: solid 2px #bbbade;
      background: transparent;

      &:active,
      &:focus,
      &:hover,
      &:visited {
        outline: none;
        text-decoration: none;
        background: none;
        box-shadow: none;
      }
    }
  }

  .section {
    .content {
      [type="radio"] {
        margin-right: 6px;
      }

      label {
        margin-right: 12px;
      }
      padding-top: 35px;

      p {
        margin: 0;
      }

      input {
        border: none;
        box-shadow: none;
        background: none;
      }

      .input {
        border-bottom: solid 1px #bbbade;
        width: 178px;
      }
    }
  }
}
