@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Raleway';
	src: url('../src/assets/fonts/Raleway-SemiBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../src/assets/fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../src/assets/fonts/Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url('../src/assets/fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-regular';
	src: url('../src/assets/fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url("../src/assets/fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url("../src/assets/fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url("../src/assets/fonts/Raleway-SemiBold.ttf") format("truetype");
}

@layer utilities {
    .w-427 {
        width: 427px;
    }
    .m-42 {
        margin: 42px;
    }
    .ml-42 {
        margin-left: 42px;
    }
    .mr-42 {
        margin-right: 42px;
    }
    .mr-107 {
        margin-right: 107px;
    }
    .section-cell {
        display: flex;
        flex-direction: row;
        padding-left: 2.25rem;
        padding-top: 1.25rem;
        padding-right: 2rem;
        padding-bottom: 1.25rem;
    }
}

body {
	background-color: #e5e5e5;
}

.raleway-font {
	font-family: 'Raleway';
}
.OpenSansLight {
	font-family: 'OpenSans-Light';
}

.OpenSansRegular {
	font-family: 'OpenSans-regular';
}

.outline-none {
	outline: none !important;
}

button,
input {
	outline: none !important;
}

.sidebar-container .bgHoverLink:hover {
	background: rgba(133, 187, 199, 0.08);
}

.sidebar-container .sidebarBG {
	background: rgba(133, 187, 199, 0.08);
}

.modal_clientForm_container .newCustomer-modal-btn {
	background: linear-gradient(296.45deg, #7f00ff -5.29%, #e100ff 121.02%);
}
.modal_clientForm_container .newCustomer-modal-btn {
	background: linear-gradient(296.45deg, #7f00ff -5.29%, #e100ff 121.02%);
}

 .modal_clientForm_container  modal.react-responsive-modal-modal {
	max-width:none !important;
	
}

.customModal {
  max-width: 1210px !important;
  width: 90% !important;
  padding: 0 !important;
}

.react-autosuggest__input {
	background-color: transparent;
	width: 120px;
}

.SideBarDropdown .drop-button-container{
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.147126);
}


.sidebar-search-form .react-autosuggest__suggestions-container {
	position: absolute;
	right: 46px;
	top: 70px;
}

.sidebar-search-form .react-autosuggest__suggestions-container--open {
	padding: 15px;
	width: 250px;
	height: 243px;
	background: #f5f6fb;
	box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.147126);
	border-radius: 10px;
	border: 2px solid #9cbeb3;
	overflow-y: scroll;
}

/* Search home page style*/

.react-autosuggest__suggestions-container--open::-webkit-scrollbar {
	width: 8px;
	border-radius: 20px !important;

}
.react-autosuggest__suggestions-container--open::-webkit-scrollbar-track {
	background: transparent;
}
.react-autosuggest__suggestions-container--open::-webkit-scrollbar-thumb {
	background: #c4c4c4;
	border-radius: 20px !important;
}

/*Clients form */

.client-form .checkbox-label {
	position: relative;
	cursor: pointer;

}
.client-form .checkbox-label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.client-form .checkbox-label .checkbox-custom {
	content: url('../src//assets/images/radiobutton.svg');
}

.client-form .checkbox-label input:checked ~ .checkbox-custom {
	content: url('../src//assets/images/active_radiobutton.svg');
}

.client-form .date_input input::-webkit-calendar-picker-indicator {
	position: absolute;
	background: transparent;
	width: 115px !important;
}

.client-form .doctor_dropdown select::after {
	content: '';
	width: 0.8em;
	height: 0.5em;
	background-color: var(--select-arrow);
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}



