@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color:#E5E5E5;
}

.react-autosuggest__input {
    background-color: transparent;
    width: 120px;
}


.sideBard-dropdown .input-select {
   border: solid #3F48AD 2px !important;
   border-radius:7px !important;
   height: 2.888rem !important;
}
.sideBard-dropdown .drop-button-container:focus-within {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.147126);

}

.sideBard-dropdown .input-select .react-dropdown-select-dropdown {
    font-size: 14px;
    box-shadow: none;
    border: none;
    padding-left: 20px;
    width: 12rem ;
    background:#FFFFFF;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.147126);
}


.sideBard-dropdown .input-select .checkmark {
    display:none;
}

.sideBard-dropdown .input-select .css-g63v89-DropDown {
    left: -12px;
}


.sideBard-dropdown .insideDropdown .iconContainer::after {
    content:url('../src//assets/images/check.svg');
    font-size: 40px;
}
.sideBard-dropdown .insideDropdown #inputIcon:checked ~ .iconContainer::after {
    content:url('../src//assets/images/active_check.svg')
}

.sideBard-dropdown .insideDropdown .iconContainer {
    margin-right: 15px;

}

.sidebar-search-form .react-autosuggest__suggestions-container {
    position: absolute;
    width:160px;
    background: #FFFFFF;
    box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.147126);

}

.sidebar-search-form .react-autosuggest__suggestions-container--open {
    padding:15px;
    right: 46px;
    top: 60px;
}